
<!DOCTYPE html>
<html>
    <head>
        <title>
            Blog page
        </title>
        <style>body{
            margin: 0;
            p{
                margin: 0;
                font-weight: lighter;
                font-size: large;
            }
            a{
                color: black;
                text-decoration: none;
            }
        }
        </style>
    </head>
    <body>
        <div>
            <div style="display: flex;
            align-content: center;
            justify-content: center;
            background: linear-gradient(rgb(58, 58, 58), white)">
                <h1>READERS HUB</h1>
            </div> 
            {%for blogspost in blogsposts reversed%}
            <div style="background-color: aqua;">
                <a href="posts/{{blogspost.id}}">
                    <h4 style="margin: 0;">
                        {{blogspost.title}}
                    </h4>
                    <p>
                        {{blogspost.date}}
                    </p>
                    <p style="margin-bottom: 30px;">
                        {{blogspost.content|truncatewords:20}}
                    </p>
                </a>
            </div>
            {%endfor%}
        </div>
    </body>
</html>