<!DOCTYPE html>
<html>
    <head>
        <title>post</title>
    </head>
    <body>
        <div>
            <div style="display: flex;
            align-content: center;
            justify-content: center;
            background: linear-gradient(rgb(58, 58, 58), white)">
                <h1>READERS HUB</h1>
            </div> 
            <div style="background-color: aqua;">
                <h4 style="margin: 0;">
                    {{blogsposts.title}}
                </h4>
                <p>
                    {{blogsposts.date}}
                </p>
                <p style="margin-bottom: 30px;">
                    {{blogsposts.content}}
                </p>
            </div>
    </body>
</html>