{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Blog Sign Up</title>
        <link rel="stylesheet" href="{% static 'static/register/register.css' %}"> 
        <link rel="stylesheet" href="{% static '/register/header.css' %}" >
        <link rel="stylesheet" href="{% static '/register/footer.css' %}" >
    </head>
    <body>
        <header">READERS HUB</header>
        <h1>Sign in Below</h1>
        {% for message in messages %}
            <h5>{{message}}</h5>
        {% endfor %}
        <div class="sign-in-container">
            <div class="form">
                <form method="POST" action=''>
                    {%csrf_token%}
                    <p>Username</p>
                    <input type="text" name="username" class="input" placeholder="Username">
                    <p>Password</p>
                    <input type="password" name="password" class="input" placeholder="Password">
                    <p>Retype Password</p>
                    <input type="password" name="password2" class="input" placeholder="Password">
                    <p>
                        <button class="submit-button">Submit</button>
                   > </p>
                    <p
                        <a href="login.html">Already Have an account? Login here</a>
                    </p>
                </form>
            </div>
        </div>
    </body>
</html>